.container {
    display: grid;
    grid-template-columns: 180px auto 100px;
    grid-template-rows: 150px 20px 500px 50px;
    grid-gap: 3px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.menu {
  grid-column-start: 1;
  grid-column-end: 4;
}

.sidebar {}

.content {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}
